{% set urls = makeUrls(modelType, key) -%}
        <div class="container" id="panel-container">
            <div class="panel panel-primary">
                <div class="panel-heading">Delete {{name}}</div>
                <div class="panel-content">
                    <form action="{{ urls.deleteUrl }}" method="POST">
                        <input
                               name=_csrf_token
                               type=hidden
                               value="{{ csrf_token() }}">
                        <input type="submit" value="Delete">
                        <a href="{{ urls.viewUrl }}">Cancel</a>
                    </form>
                </div><!-- /Panel Content -->
            </div><!-- /Panel -->
        </div><!-- /Panel Container -->