{% set urls = makeUrls(viewType, key) -%}
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-primary btn-lg"
                                   href="{{ urls.editUrl }}"
                                   role="button">Edit</a>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-danger btn-lg"
                                   href="{{ urls.deleteUrl }}"
                                   role="button">Delete</a>
                            </span>
                        </div><!-- /Input Group -->