{% set urls = makeUrls(modelType, key) -%}
        <div class="container" id="panel-container">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ name }}</div>
                <div class="panel-content">
{% for t in traits %}
    {% if t.isImage() %}
                    <div class='picture'>
                        {% if "http" in t.url %}
                        <img src="{{t.url}}">
                        {% else %}
                        <img src="{{ url_for('static', filename=t.url) }}">
                        {% endif %}
                    </div>
    {% endif %}
{% endfor %}
                    <table>
{% for t in traits %}
    {% if t.isImage() == False and t.name != 'name' and t.name !='id' %}
    {{ t.asOutputElement()|safe }}
    {% endif %}
{% endfor %}
                    </table>
{% if allowAlter == True %}
    {% include "partials/edit_delete.html" -%}
{% endif %}
                </div><!-- /Panel Content -->
            </div><!-- /Panel -->
        </div><!-- /Panel Container -->
